<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Precalculated Plot</title>
		<link rel=stylesheet type=text/css href='/static/style.css'>
	</head>
	<body>

		<div>
  		<!-- <h2>{{ title }}</h2> -->
      <div class="features">
			    <p><img src="/static/{{ imgplot }}" style="display:block; width:600px;"></p>
      </div>
        <div class="features">
          <form id='input' method='get' action='/index'>
            <input type="submit" id="button" value="Back">
          </form>
        </div>
    </div>
	</body>
</html>
