<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Time Plot</title>
		<link rel=stylesheet type=text/css href='/static/style.css'>
    {{ css_resources|indent(4)|safe }}
    {{ js_resources|indent(4)|safe }}
    {{ plot_script|indent(4)|safe }}
	</head>
	<body>

    <div>
      <div class="features">
        <p>{{ plot_div|indent(4)|safe }}</p>
      </div>
      <div class="features">
        <p>For specific product (in this case Apple iPad), the frequency of few of the significant words can be plotted as a function of the time, to see if their important changes over time. In this case, the code calculates word frequencies and corresponding times for every review, occurance of words at various times and sorts the results.</p>
      </div>
      <div class="features">
        <form id='input' method='get' action='/index'>
          <input type="submit" id="button" value="Back">
        </form>
      </div>
    </div>
	</body>
</html>
